<h2>Olá {{name}}</h2>
<p>
  Parece que você solicitou uma alteração de senha
</p>
<p>
<a href="{{reserPasswordUrl}}" target="_blank">Recuperar senha</a>
</p>
<p>
  Caso não tenha sido você quem fez a solicitação, favor descartar o e-mail.
</p>
